<style>
	


	p {
		font-family: system-ui;
}
	body {
		background-image: url(../website background.jpg);
		background-color: rgb(82, 200, 229);
		width: 800px;
}
	h2 {
		color: rgb(167, 88, 0);
}
	</style>
